# PostgreSQL database connection string
DATABASE_URL=postgresql://user:password@host:port/database

# ElasticSearch credentials
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD= # The password you get after starting ElasticSearch

# SuperTokens Authentication
ST_CONNECTION_URI=https://try.supertokens.com
ST_API_KEY=

# Currently, app only supports Google and enforces these variables
# Make sure you have a Google Console login set up and insert variables here
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# Application URLs and Port
PORT=8080
WEBSITE_DOMAIN=http://localhost:3000